<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spinning_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>spinning_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>spinning_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>spinning_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,150},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>spinning_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,150},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>spinning_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,150},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>spinning_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,300},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>spinning_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,300},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>spinning_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,300},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>spinning_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,450},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>spinning_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,450},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>spinning_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,450},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>spinning_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,600},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>spinning_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,600},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>spinning_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,600},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>spinning.png</string>
		<key>size</key>
		<string>{450,750}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:043da78c755a326869d4d6dff034bcf4$</string>
		<key>textureFileName</key>
		<string>spinning.png</string>
	</dict>
</dict>
</plist>
